.wrapper-login
    .wrapper-container
        h1 Welcome
        form.form(ng-submit="login(username, password)")
            input(type='text', placeholder='Username', ng-model="username")
            input(type='password', placeholder='Password', ng-model="password")
            p
                small New user? Register&nbsp;
                    a(href='/register') Here
            button#login-button(type='submit') Login
    ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
